@model System.Exception
@{
    ViewBag.Title = "Path Not Found";
}
@section Header{
   <div style="margin-left:10px;"><h3><a href="@Url.Content("~")"><i class="fa fa-home fa-lg"></i></a></h3></div>
}
<div style="margin-left:10px;">
    <h3>Path Not Found</h3>
    <h4>It seems the path is just moved out. Please try browse again.</h4>
</div>